body {
    font-family: "Helvetica", sans-serif;
}

canvas {
    background-color: #ccd6fa
}

#log {
    overflow-x: scroll;
}
.infoPanel {
    float: left;
    width: 50%;
}

.color-legend {
    width: 800px;
    display: flex;
    justify-content: center;
}

.color-legend > * {
    padding: 5px;
}

.dot {
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-right: 2px;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff00;
}

.blue {
    background-color: #0000ff;
}